*.log 


 
*.scc 


Climate_Police/data/pollution_us_2000_2016.csv
Climate_Police/data/GlobalLandTemperatures.zip 
  



# Byte-compiled / optimized / DLL files
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*